@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

img {
  max-width: none;
  /* -webkit-transition: transform 200ms linear;
  -moz-transition: transform 200ms linear;
  -ms-transition: transform 200ms linear;
  transition: transform 200ms linear; */
}

button {
  @apply flex-1 font-bold text-white text-xl bg-gray-900
    hover:bg-gray-800
    active:bg-gray-500;
}