* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: medium;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: none;
    background-color: black;
    color: white;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button {
    margin: 0.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0.25rem solid white;
    background-color: black;
    font-weight: bold;
    color: white;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

button:hover {
    background-color: rgb(42, 42, 42);
}

button:active {
    background-color: white;
    color: black;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: none;
    border: 0px none;
}
